/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  /*background: url("http://www.sevva.hk/images/about/terrace/terrace_seaview.jpg") no-repeat center center fixed;*/
/*  background-size:cover;*/
}

/**= require bootstrap-datepicker*/

h1 {
  margin: 0;
  padding: 0;
}


/*---- NAV BAR ----*/

.navbar-brand {
  font-family: 'Revalia', cursive;
}

a:hover{
  text-decoration: none;
}

.space1{
  position: absolute;
  right: 455px;
}

.space2{
  position: absolute;
  right: 333px;
}

.blur{
  filter: blur(5px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: url(#blur);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
}


/*---- BUTTONS ----*/

.click_notice{
/*  font-size: 4em;
  color: white;*/
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 75px;
/*  padding: 80px 50px;*/
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  position: relative;
  margin: 0 auto;
}

.button-padding{
  margin: 0 0px 0 0px;
  position: center;
}

.btn {
    padding: 5px;
    border-radius: 0;
    border: none;
    font-size: 18px;
    margin-top: 20px;
}

.btn-info{
  font-size: 12px,
}

#totals_button{
  background-color: #999;
  font-size: 12px,
}

#cost_button{
  background-color: #808080;
  font-size: 12px,
}

#unit_button{
  background-color: #656566;
  font-size: 12px,
}

.center-row{
  text-align: center;
}


/*---- GENERAL ----*/

.white_background{
  background: hsla(0, 0%, 100%, 0.9);
  width: 1000px;
  margin-top: 100px;
  border-radius: 20px;
}

.welcome {
  text-align: center;
  font-size: 18px;
}

.form-control {
    border: 1px solid #D6D6D6;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    padding: 6px 15px;
    text-align: center;
    font-size: 18px;
}

.form-group{
  margin-top: 15px;
}

.control-label {
  color: white;
  font-weight: normal;
}

.container-padding {
    padding: 20px 50px 20px 50px;
    margin: 100px 100px 100px 100px;
}


/*---- Results page ----*/

.table-padding {
    padding: 50px 50px 50px 50px;
    margin-top: 70px;
}

.graph-padding {
    padding: 20px 50px 0px 50px;
    text-align: center;
}

#myfirstchart {
  font-size: 18px;
}

.login-push{
  margin-top: 100px;
}

.login-small-push{
  margin-top: 40px;
}

.page-header {
  color: white;
}


/*---- PASSWORD ----*/

.password-check{
  width: 30%;
  margin-left: 600px;
}

legend {
    border: medium none;
    color: #7F7F7F;
    display: block;
    font-size: 20px;
    line-height: inherit;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.logout-link {
  margin-top: 8px;
  font-size: 16px;
  border-radius: 20px;
}

#icons {
  margin-top: -100px;
  text-align: center;
}

.date {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.date p {
  text-align: left;
  margin-bottom: -5px;
}

input {
  text-align: center;
}

.drinks_input{
  margin-top: -100px;
}

.table{
  text-align: left;
}

tr.active {
  font-style: italic;
}

/*
 *= require_self
 */

/* Danger (pale red) */
$bgnd-danger:          hsla(2, 64.4860%, 58.0392%, 1);
$border-danger:        hsla(2, 64.1667%, 52.9412%, 1);
$bgnd-danger-hover:    hsla(2, 64.7059%, 50%,      1);
$border-danger-hover:  hsla(2, 64.5933%, 40.9804%, 1);
$text-danger:          hsla(1, 44.6640%, 50.3922%, 1);

/* Warning (pale orange) */
$bgnd-warning:         hsla(35, 84.3750%, 62.3529%, 1);
$border-warning:       hsla(35, 84.4037%, 57.2549%, 1);
$bgnd-warning-hover:   hsla(35, 84.5494%, 54.3137%, 1);
$border-warning-hover: hsla(35, 84.4156%, 45.2941%, 1);
$text-warning:         hsla(38, 46.3830%, 53.9216%, 1);

/* Success (pale green) */
$bgnd-success:         hsla(120, 39.3162%, 54.1176%, 1);
$border-success:       hsla(120, 39.2000%, 49.0196%, 1);
$bgnd-success-hover:   hsla(120, 39.5745%, 46.0784%, 1);
$border-success-hover: hsla(120, 39.6825%, 37.0588%, 1);
$text-success:         hsla(121, 32.0388%, 40.3922%, 1);

/* Info (cyanish) */
$bgnd-info:            hsla(194, 66.4975%, 61.3725%, 1);
$border-info:          hsla(194, 66.6667%, 56.4706%, 1);
$bgnd-info-hover:      hsla(194, 66.3866%, 53.3333%, 1);
$border-info-hover:    hsla(194, 66.3717%, 44.3137%, 1);
$text-info:            hsla(200, 49.7835%, 45.2941%, 1);

/* Primary (blue) */
$bgnd-primary:         hsla(208, 56.1983%, 52.5490%, 1);
$border-primary:       hsla(208, 56.1983%, 47.4510%, 1);
$bgnd-primary-hover:   hsla(208, 55.9471%, 44.5098%, 1);
$border-primary-hover: hsla(208, 56.0440%, 35.6863%, 1);
$text-primary:         hsla(208, 56.1983%, 52.5490%, 1);

/* Default (gray and white) */
$bgnd-default:         hsla(0, 0%, 100%,     1);
$border-default:       hsla(0, 0%, 80%,      1);
$bgnd-default-hover:   hsla(0, 0%, 92.1569%, 1);
$border-default-hover: hsla(0, 0%, 67.8431%, 1);
$text-default:         hsla(0, 0%, 32.5490%, 1);     /* dark gray        */
$text-muted:           hsla(0, 0%, 60%,      1);     /* medium gray      */
$text-nav-link:        hsla(0, 0%, 46.6667%, 1);     /* medium dark gray */
$border-shadow:        hsla(0, 0%, 90.5882%, 1);     /* light gray       */
$bgnd-head-foot:       hsla(0, 0%, 97.2549%, 1);     /* very light gray  */

$height-header: 50px;
$height-footer: 40px;

/* Sticky footer styles
-------------------------------------------------- */


#registrant-email {
  font-size: 1.4em;
  margin-top: 25px;
  color: $bgnd-success;
}

#pw-quality {
  font-size: 1.1em;
  margin-top: 20px;
}

.reset-form #pw-quality {
  margin-top: 0;
}

.crack-div {
  font-size: 1.2em;
  margin-top: -10px;
}

#match-div {
  font-size: 1.2em;
  margin-top: 20px;
  color: red;
}

#match-div.pmatch {
  font-weight: bold;
  color: $bgnd-success;
}

.container .credit {
  text-align: right;
  margin: 10px 0;
}


/*FOOTER*/
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.chuck-footer {
  color: gray;
  text-align: right;
  margin-right: 30px;
}

